
#cabecalho {
background-color: ble;
}

@font-face {
    font-family: minhaFonte;
    src: url(../AbhayaLibre-Bold.ttf);
}

h1 {
    font-family: minhaFonte;
}

#menu {
    font-weight: bold;
    
}
.menu ul  {

    font-weight: bold;
}



#container {

    margin: 20px
}

#conteudo {
line-height: 1.5 ;
}
