.link {
    color: #318021;
}

ul .link {
    color: #e8240e;
    /* border: 2px solid #e8240e; */
    display: inline;
    margin: 0 3%;

    /* Nesting links */
    a{
        text-decoration: none;
        color: #e8240e;
    }

}

#menu ul{
    text-align: center;
    letter-spacing: 2px;
}

/* ID */
#container {
    width: 80%;
    height: 100%;
    border: 2px solid #000;
    margin: 20px auto;
}

header{
    background: blue;
}

@font-face {
    font-family: minhaFonte;
    src: url(../AbhayaLibre-Bold.ttf);
}

h1, h2 {
    font-family: minhaFonte;
}
.menu{
    font-weight: bold;
}

#conteudo{
    line-height: 1.5;
    }

form{
    border: 1px solid gray;
    padding: 10px;
}

p { 
    color: #176707;
}

button{
    background-color: blue;
    color: rgb(255, 255, 255);
}

footer{
    border-top:2px solid #e8240e;
    }