
#cabecalho {
background-color: ble;
}

@font-face {
    font-family: minhaFonte;
    src: url(../AbhayaLibre-Bold.ttf);
}

h1 {
    font-family: minhaFonte;
}

#menu {
    font-weight: bold;
    
}
.menu ul  {

    font-weight: bold;
}



#container {

    margin: 20px
}

#conteudo {
line-height: 1.5 ;
}

#contact {
    border: 1px solid gray;
    padding: 10px;
}

p {
  color: green;
}

#contact button {
background-color: blue;
color: white;

}
footer {
        
    border-top:2px solid #e8240e;
     
    }
